# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Qdrant Database Storage (CRITICAL: Do not push DB data to GitHub)
embedding-test/qdrant_storage/

# Downloaded PDFs and Raw Data
data/
embedding-test/data/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
